
.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .container {
  height: 100vh;
  font-size: 40px;
  width: 100%;
  display: grid;
  grid-template-columns:16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
  grid-template-rows:  24% 24% 24% 24% ;
} */
